@{
    ViewData["Title"] = "Terapeutas";
}
<h1 text-center text-white>@ViewData["Title"]</h1>

<section id="Terapeuta-Alejandra"class="section text-secondary bg-light py-5">
    <div class="container">
        <div class="heading">
            <div class="heading-group">
                <h2 class="main-title text-danger-emphasis">
                  <span>Alejandra Hernández</span>
                </h2>
            </div>
        </div>
        <div class="row align-items-center position-relative">
            <div class="col-12 col-md-5 align-items-center ps-5 card-corner-decoration-o">
                <img src="../img/Alejandra-Hernandez.-Terapeuta.webp" class="img-fluid d-block px-4 resultados-img-hover" alt="Alejandra Hernandez">
            </div>
            <div class="col-12 col-md-7 px-4">
                <div class="d-none d-md-block text-body-emphasis pe-5 rounded shadow">
                    <h5 class="text-center">Hola! Me llamo Alejandra Hernández.</h5> 
                    <p class="text-center px-4">
                        Siempre me ha gustado ayudar a quienes tenían alguna dificultad. Aunque mi pasión siempre ha sido la música y he estado dedicada a ella durante toda mi vida, hace años descubrí en la Musicoterapia que mis dos pasiones iban de la mano. Un camino ilusionante donde descubrí que con mis habilidades podía ayudar tanto a niños como a adultos con discapacidad auditiva, dificultades del lenguaje y otros problemas de la comunicación a avanzar en su mejora.
                    </p>
                    <P class="text-center px-4">
                        Como no hay un fin sin un esfuerzo, me formé y especialicé concienzudamente en estos temas (Máster en Musicoterapia, Máster en Logopedia, Máster en Atención Temprana, Especialización en Trastornos del Lenguaje, Intervención Logopédica en Trastorno del Espectro Autista, Programa de Comunicación Total de Benson Schaeffer y Lengua de Signos).
                    </P>
                    <p class="text-center px-4">
                        A día de hoy puedo decir con honestidad que he podido ayudar a muchas personas que presentaban estas dificultades.
                    </p>
                    <p class="text-center px-4">
                        ¿Quieres que te ayude? Escríbeme y charlamos.
                    </p>
                </div>
                <div class="position-absolute bottom-0 end-0 me-3 mb-3">
                    <a class="btn btn-primary btn-lg custom-pink-button" asp-controller="Home" asp-action="Contacta">Quiero pedir cita</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section text-white py-5"> 
    <div class="row align-items-center">
        <div class="col-12 col-md-12 px-4 text-center" id="container-span-m">
            <span class="icon my-4">
                <i aria-hidden="true" class="fas fa-music"></i>
            </span> 
        </div> 
    </div> 
</section>

<section id="Terapeuta-Rosa" class="section text-secondary bg-light py-5">
    <div class="container">
        <div class="heading">
            <div class="heading-group">
                <h2 class="main-title text-danger-emphasis">
                    <span>Rosa Parra Serrano</span>
                </h2>
            </div>
        </div>
        <div class="row align-items-center position-relative">
            <div class="col-12 col-md-5 align-items-center ps-5 card-corner-decoration-o">
                <img src="../img/Rosa-Parra.-Terapeuta.webp" class="img-fluid d-block px-4 resultados-img-hover" alt="Rosa Parra Serrano">
            </div>
            <div class="col-12 col-md-7 px-4 ">
                <div class="d-none d-md-block text-body-emphasis pe-5 rounded shadow">
                    <h5 class="text-center">Hola! Me nombre es Rosa Parra Serrano. Soy Maestra y Logopeda</h5>
                    <p class="text-center px-4">
                        Durante mi vida profesional, he tenido oportunidad de trabajar como profesora   en un   colegio de enseñanza personalizada de alumnos con necesidades educativas especiales. Y posteriormente, en un gabinete psicopedagógico como logopeda. Por tanto, tengo gran experiencia para poder ayudarte en el tratamiento de cualquier tipo de trastorno del lenguaje, la voz y el habla, así como en los problemas de aprendizaje.
                    </p>
                    <P class="text-center px-4">
                        También tengo formación en Lengua de Signos Española, lo que me facilita el acercamiento y la intervención en las personas con discapacidad auditiva.
                    </P>
                    <p class="text-center px-4">
                        Me he unido a este Proyecto, que conjuga todos los aspectos con los que me encanta trabajar y así poder dar profesionalidad al servicio que estás buscando.
                    </p>
                    <p class="text-center px-4">
                        La Logopedia es mi gran vocación y me siento plenamente satisfecha cuando puedo aportar mi dedicación y experiencia para dar soluciones a las personas que necesitan nuestro apoyo.
                    </p>
                    <p class="text-center px-4">
                        Seguro que puedo ayudarte. Escríbeme y charlamos.
                    </p>
                </div>
                <div class="position-absolute bottom-0 end-5 me-3 mb-3">
                    <a class="btn btn-primary btn-lg custom-pink-button" asp-controller="Home" asp-action="Contacta">Quiero pedir cita</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section text-white py-5"> 
    <div class="row align-items-center">
        <div class="col-12 col-md-12 px-4 text-center" id="container-span-m">
            <span class="icon my-4">
                <i aria-hidden="true" class="fas fa-music"></i>
            </span> 
        </div> 
    </div> 
</section>

<section class="section text-secondary bg-light py-5" id="equipamiento">
    <div class="container">
        <div class="heading">
            <div class="heading-group">
                <h2 class="main-title text-center">
                    <span>Así es nuestro trabajo</span>
                </h2>
            </div>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/Alejandra-Hernanndez-en-escritorio-200x172.webp" class="d-block resultados-img-hover" alt="Imagen 1: Escritorio de Alejandra">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/lectura-labial-200x120.webp" class="d-block resultados-img-hover" alt="Imagen 2: Lectura labial">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/logopedia-infantil-cuento-200x150.webp" class="d-block resultados-img-hover" alt="Imagen 3: Logopedia infantil">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/logopedia-musicoterapia-200x212.webp" class="d-block resultados-img-hover" alt="Imagen 4">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/musicoterapia-infantil-1-200x138.webp" class="d-block resultados-img-hover" alt="Imagen 5">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/musicoterapia-infantil-2-200x113.webp" class="d-block resultados-img-hover" alt="Imagen 6">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/musicoterapia-infantil-1-200x138.webp" class="d-block resultados-img-hover" alt="Imagen 5">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/rehabilitacion-lenguaje-escrito-200x150.webp" class="d-block resultados-img-hover" alt="Imagen 7">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="carousel-image-wrapper">
                                <img src="~/img/logopedia-musicoterapia-200x212.webp" class="d-block resultados-img-hover" alt="Imagen 4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="section text-white py-5">
    <div class="row align-items-center">
        <div class="col-12 col-md-12 px-4 text-center" id="container-span-m">
            <span class="icon my-4">
                <i aria-hidden="true" class="fas fa-music"></i>
            </span>
        </div>
    </div>
</section>

<section class="section py-4"> 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 text-start">
                <a class="btn text-decoration-none" asp-controller="Home" asp-action="Index" style="color: #e83e8c;">
                    <i class="fa-solid fa-arrow-left me-2"></i> Ir a la página de Inicio
                </a>
            </div>
            <div class="col-6 text-end">
                <a class="btn text-decoration-none" asp-controller="Home" asp-action="LogopediaInfantil" style="color: #e83e8c;">
                    <i class="fa-solid fa-arrow-right ms-2"></i>Ir a la página de Tratamientos
                </a>
            </div>
        </div>
    </div>
</section>